@charset "utf-8";

/* ---------- ページ全体 ---------- */

#blender {
/*  background-image: url(../images/image7.jpg);*/
    background-repeat: no-repeat;
    background-position: center top;
/*  background-attachment: fixed;*/
    background-size: 65% 35%;
    width: 940px;
    margin: auto;
}

/* 現在いるページを示す */
#blender .home {
    color: darkgrey;
}

/* ---------- ヘッダー ---------- */

h1 {
    font-size: 20px;
    font-family: 'Bitter', serif;
}

/* ShowTakes */
h2 {
    font-size: 70px;
    margin-top: -10px;
    color: dodgerblue;
    font-family: 'Bitter', serif;
}

/* 更新日 */
h5 {
    font-size: 15px;
    float: right;
    margin: -180px 40px;
}

/* ---------- メニュー ---------- */

#menu {
    width:940px;
    padding:0;
    margin:0;
    list-style-type: none;
}

#menu li {
    width:20%;
    float:left;
    padding:0;
    margin:0;
    text-align:center;
}

#menu li a {
    width:auto;
    color:#ffffff;
    font-size:12px;
    font-weight:bold;
    padding:20px 0;
    text-decoration:none;
    display:block;
    background: #00000f;
}

#menu li a:hover {
    color: darkgrey;
}

/* ---------- コンテンツ ---------- */

/*floatプロパティで指定された要素の回り込みを解除する*/
#wrap {
    clear: both;
    /* 背景を白色にしている */
    background-color: #ffffff;
    margin-top: 0px;
    padding: 10px 0;
}

#content {
    font-size: 20px;
    width: auto;
    margin: 0 auto;
}

/* ---------- サイドバー ---------- */

.sidebar {
    border-left: 1px solid black;
    float: right;
    margin: -50px 100px 50px 0px;
    padding: 0px 0px 0px 20px;
}

.sidebar li {
    list-style-type: none;
}

.sidebar li a {
    text-decoration: none;
}

.sidebar li a:hover {
    text-decoration:underline;
}

.icon  {
    content: "";
    padding-left: 10px;
    border-left: 8px solid blue;
}

#content h9 {
    font-size: 40px;
    border-bottom:2px solid black;
    padding-bottom: 10px;
    padding: 0px 400px 0px 10px;
    margin: 0px 0px 0px 0px;
}

/* ---------- フッター ---------- */

.ft {
    clear: both;
    margin-top: -40px;
    padding: 0px 50px 0px 10px;
    float: left;
    color: black;
}

h3 {
    font-size: 15px;
    font-family: 'Bitter', serif;
    float: left;
}

h4 {
    font-size: 20px;
    font-family: 'Bitter', serif;
    clear: both;
}

/* ---------- フッター　メニュー1 ---------- */

article #footer-menu {
    width:auto;
    padding:auto;
    margin:auto;
    list-style-type: none;
}

article #footer-menu li {
    width:auto;
    float: left;
    padding:0px 30px;
    margin:0px 20px 0px 0px;
    text-align:center;
}

article #footer-menu li a {
    width:auto;
    color:black;
    font-size:16px;
    text-decoration:none;
}

article #footer-menu li a:hover {
    text-decoration:underline;
}

article footer {
    clear: both;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    color: #ffffff;
    padding: 100px 0px;
}

/* ---------- フッター　メニュー2 ---------- */


small {
    clear: both;
    padding: 30px 0px 30px 10px;
    float: left;
    color: black;
    font-size: 20px;
    font-family: 'Bitter', serif;
}

#footer-menu2 {
    padding: 30px 0px 10px 400px;
    margin:0px 0px 0px 0px;
    list-style-type: none;
}

#footer-menu2 li {
    width:auto;
    float: left;
    padding: 0px 30px;
    margin:0px 0px 0px 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-collapse: collapse;
}

#footer-menu2 li a {
    color:black;
    font-size:14px;
    text-decoration:none;
}

#footer-menu2 li a:hover {
    text-decoration:underline;
}





