@charset "utf-8";

/* ---------- ページ全体 ---------- */

#index {
/*  background-image: url(../images/image7.jpg);*/
    background-repeat: no-repeat;
    background-position: center top;
/*  background-attachment: fixed;*/
/*    background-size: 65% 35%;*/
/*    width: 940px;*/
    margin: auto;
    background-color: #EEEEEE;
}

/* 現在いるページを示す */
#index .home {
    color: darkgrey;
}

/* ---------- ヘッダー ---------- */

h1 {
    font-size: 30px;
    font-family: 'Bitter', serif;
    margin-bottom: 0px;
}

/* ShowTakes */
h2 {
    font-size: 90px;
    margin: -10px 0px 0px 0px;
    color: dodgerblue;
    font-family: 'Bitter', serif;
    color: #000;
    -webkit-text-stroke: 4px #FFF;
    text-stoke: 1px #FFF;
}

/* ---------- メニュー ---------- */
/* ---------- メニュー_解読------------------------------------------------------------ */
.menu {
    position: relative;
    height: 50px;
    list-style-type: none;
    float: left;
    background-color: black;
    padding: 0px 47px;
}

/* 文字の位置 */
.menu > li {
    height: 50px;
    line-height: 50px;
}

/* 文字 */
.menu > li a {
    display: block;
    color: #fff;
    text-decoration-line: none;
}

/*  カーソルを合わせた時にグレーに変える */
.menu > li a:hover {
    color: #999;
    text-decoration-line:underline;
}

ul.menu__second-level {
/*    visibility: hidden;*/
    opacity: 0;
    z-index: 1;
}

.menu > li:hover {
    background: black;
/*    -webkit-transition: all .5s;*/
/*    transition: all .5s;*/
}

/* ドロップダウンの境目の線 */
.menu__second-level li {
    border-top: 1px solid #111;
}

.menu__third-level li {
/*    border-top: 1px solid #111;*/
}

.menu__second-level li a:hover {
/*    background: #111;*/
}

/* 下矢印 */
.init-bottom:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

/* floatクリア */
.menu:before,
.menu:after {
/*    content: " ";*/
/*    display: table;*/
}

.menu:after {
/*    clear: both;*/
}

.menu {
/*    *zoom: 1;*/
}
.menu > li.menu__single {
    position: relative;
}

li.menu__single ul.menu__second-level {
    padding-left: 10px;
    position: absolute;
    top: 40px;
    width:120px;
    background: black;
    list-style-type: none;
/*    -webkit-transition: all .2s ease;*/
/*    transition: all .2s ease;*/
}

li.menu__single:hover ul.menu__second-level {
    top: 50px;
    visibility: visible;
    opacity: 1;
}
/* ---------- メニュー ------------------------------------------------------------ */
/* ---------- コンテンツ ---------- */

/*floatプロパティで指定された要素の回り込みを解除する*/
#wrap {
    clear: both;
    /* 背景を白色にしている */
    margin-top: 0px;
    padding: 10px 0;
}

#content {
    float:left;
    font-size: 20px;
    margin: 20px 0px 10px 40px;
}

#content p {
    width: 750px;
    padding: 10px 40px 100px 40px;
    background-color: #ffffff;
    border: 1px solid #000044;
    margin-bottom: 100px;
    border-width: 1px 40px;
}

h7 {
    font-size:40px;
    font-family: 'Bitter', serif;
    margin-left: 280px;
    border-bottom: 3px solid black;
}

h8 {
    font-size:40px;
    font-family: 'Bitter', serif;
    margin-left:320px;
    border-bottom: 3px solid black;
}

h14 {
    padding: 30px 0px 0px 30px;
    float: right;
}

#content img {
    margin:0px 0px 0px 20px;
}

/* ---------- サイドバー ---------- */

.sidebar {
    width: 300px;
    float:right;
    padding: 50px 40px;
    margin: 40px 0px;
    margin-right: 50px;
    background-color: #ffffff;
    font-size: 20px;
    list-style-type: none;
    border: 1px solid black;
}

.introduction h13 {
    font-family: 'Bitter', serif;
    font-size: 20px;
    padding: 0px 0px;
}

.introduction h12 {
    font-family: 'Bitter', serif;
    font-size: 40px;
    padding-left: 40px;
}

.introduction p {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0px;
    font-size: 20px;
}

.pro, .Q_A{
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #9999;
    margin-bottom: 10px;
    text-align: center;
    width: 80
}

.sns {
    
}

.icon3 {
    content: "";
    margin-top: 50px;
    padding-left: 20px;
    border-left: 20px solid black;
    border-bottom: 2px solid black;
    font-size: 17px;
    padding: 5px 0px 0px 10px;
}

/* ---------- フッター ---------- */

.ft {
    margin-top: -40px;
    padding: 0px 50px 0px 10px;
    float: left;
    color: black;
}

h3 {
    font-size: 15px;
    font-family: 'Bitter', serif;
    float: left;
}

h4 {
    font-size: 40px;
    font-family: 'Bitter', serif;
}

img {
    margin-top: -50px;
}
/* ---------- フッター　メニュー1 ---------- */

#footer-menu {
    clear: both;
    list-style-type: none;
    border: 1px solid black;
    width: 20%;
}

#footer-menu li {
    text-align: left;

}

#footer-menu li a {
    color:black;
    font-size:16px;
    text-decoration:none;
}

#footer-menu li a:hover {
    text-decoration:underline;
}

article footer {
    clear: both;
    text-align: center;
    color: #ffffff;
    padding: 70px 50px 110px 50px;
    border: 1px solid black;
    margin: 20px 100px;
}

.table {
    font-size: 15px;
    padding: 10px 19px;
    
}

table {
    color: black;
    
}

/* ---------- フッター　メニュー2 ---------- */


small {
    clear: both;
    padding: 10px 100px 10px 0px;
    float: right;
    color: black;
    font-size: 20px;
    font-family: 'Bitter', serif;
}






