@charset "utf-8";

/* ---------- ページ全体 ---------- */

#unity-particle {
/*  background-image: url(../images/image7.jpg);*/
    background-repeat: no-repeat;
    background-position: center top;
/*  background-attachment: fixed;*/
    background-size: 65% 35%;
    width:980px;
    margin: auto;
}

/* 現在いるページを示す */
#unity-particle .home {
    color: darkgrey;
}

/* ---------- ヘッダー ---------- */

h1 {
    font-size: 20px;
    font-family: 'Bitter', serif;
}

/* ShowTakes */
h2 {
    font-size: 70px;
    margin-top: -10px;
    color: dodgerblue;
    font-family: 'Bitter', serif;
}

/* 更新日 */
h5 {
    font-size: 15px;
    float: right;
    margin: -180px 40px;
}

/* ---------- メニュー ---------- */

#menu {
    width:940px;
    padding:0;
    margin:0;
    list-style-type: none;
}

#menu li {
    width:20%;
    float:left;
    padding:0;
    margin:0;
    text-align:center;
}

#menu li a {
    width:auto;
    color:#ffffff;
    font-size:12px;
    font-weight:bold;
    padding:20px 0;
    text-decoration:none;
    display:block;
    background: #00000f;
}

#menu li a:hover {
    color: darkgrey;
}

/* ---------- コンテンツ ---------- */

/*floatプロパティで指定された要素の回り込みを解除する*/
#wrap {
    clear: both;
    /* 背景を白色にしている */
    background-color: #ffffff;
    margin-top: 0px;
    padding: 10px 0;
}

#content {
    font-size: 20px;
    width: auto;
}

h7 {
    font-size: 35px;
    border-bottom: 2px solid black;
    padding: 10px 400px 10px 0px;
}

/* ---------- 表 ---------- */
.icon2  {
    content: "";
    padding-left: 10px;
    border-left: 10px solid blue;
}

.main h8 {
    font-size: 20px;
}

.propaty table {
    /* セルの隙間を指定して0にする */
    border-spacing: 0px;
    /* 上記で隙間を無くすと囲い線が太く見えてしまう為、重ねて表示する */
    border-collapse: separate;
    float: left;
}

.propaty th, .propaty td {
    float: left;
    vertical-align: top;
    line-height: 2;
}

.propaty th {
    width: 210px;
    border-right: 4px double black;
}

.propaty td {
    width: 740px;
    padding-left: 10px;
}

.top {
    clear: both;
    font-family: 'Biter', serif;
    background-color:darkgray;
}

.top td {
    text-align: center;
    border-bottom: 4px double black;
}

.top th {
    border-right: 4px double black;
    border-bottom: 4px double black;
}

.direction {
    padding: 21px 0px 21px 2px;
}

/* ---------- ボタン ---------- */
.btn a {
    color: black;
    font-size: 20px;
    font-family: 'Bitter', serif;
    width: 130px;
    /* ボタンに高さや幅を持たせるのに必要 */
    display: block;
    text-align: center;
    line-height: 30px;
    float: left;
    /* 角の丸み */
     border-radius: 10px;
    /* 枠線 */
    text-decoration: none;
    margin: 10px 0px 30px 0px;
    border: 1px solid black;
}

.left a{
    margin-left: 130px;
}

.now a {
    color: darkgray;
}

/* class名:hover 可能！ */
/* 上記の書き方と下記の書き方どちらでもいける */
.btn a:hover {
    color: darkgray;
    /* カーソルの矢印が指先マークに変わる */
    cursor: pointer;
    border: 1px solid black;
}

/* ---------- サイドバー ---------- */

.sidebar {
    border-left: 1px solid black;
    float: right;
    margin: -50px 100px 50px 0px;
    padding: 0px 0px 0px 20px;
}

.icon  {
    content: "";
    padding-left: 10px;
    border-left: 15px solid #A4A4A4;
}

/* ---------- フッター ---------- */

.ft {
    clear: both;
    margin-top: -40px;
    padding: 0px 50px 0px 10px;
    float: left;
    color: black;
}

h3 {
    font-size: 15px;
    font-family: 'Bitter', serif;
    float: left;
}

h4 {
    font-size: 20px;
    font-family: 'Bitter', serif;
    clear: both;
}

/* ---------- フッター　メニュー1 ---------- */

article #footer-menu {
    width:auto;
    padding:auto;
    margin:auto;
    list-style-type: none;
}

article #footer-menu li {
    width:auto;
    float: left;
    padding:0px 30px;
    margin:0px 20px 0px 0px;
    text-align:center;
}

article #footer-menu li a {
    width:auto;
    color:black;
    font-size:16px;
    text-decoration:none;
}

article #footer-menu li a:hover {
    text-decoration:underline;
}

article footer {
    clear: both;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    color: #ffffff;
    padding: 100px 0px;
}

/* ---------- フッター　メニュー2 ---------- */


small {
    clear: both;
    padding: 30px 0px 30px 10px;
    float: left;
    color: black;
    font-size: 20px;
    font-family: 'Bitter', serif;
}

#footer-menu2 {
    padding: 30px 0px 10px 400px;
    margin:0px 0px 0px 0px;
    list-style-type: none;
}

#footer-menu2 li {
    width:auto;
    float: left;
    padding: 0px 30px;
    margin:0px 0px 0px 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-collapse: collapse;
}

#footer-menu2 li a {
    color:black;
    font-size:14px;
    text-decoration:none;
}

#footer-menu2 li a:hover {
    text-decoration:underline;
}





